<html>
	<head>Register Page</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
	function check_pass() {
    if (document.getElementByName('pw').value ==
            document.getElementByName('pw2').value) {
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('submit').disabled = true;
    }
}
</script>
	<body>
	<h6>Register</h6>

	<p>Use the following IDs and Password:</p>
	<ol>
		<li>guest (password: guest)</li>
		<li>developer (password: developer)</li>
	</ol>
	<hr>
	<form action="/login" method="post">
		Username: <input type="text" name="ac" required><br>
		Password: <input type="password" name="pw" required><br>
		<input type="submit" value="Login" id="submit" disabled>
	</form>
	Confirm Password: <input type="password" name="pw2" required><br>
</body>

</html>
