<html>
<body>
	<h6>Login</h6>
	<p>Use the following IDs and Password:</p>
	<ol>
		<li>guest (password: guest)</li>
		<li>developer (password: developer)</li>
	</ol>
	<hr>
	<form action="/login" method="post">
		Username: <input type="text" name="name" required><br>
		Password: <input type="password" name="password" required><br>
		<a href="/register">Register</button><input type="submit" value="Login">
	</form>
</body>

</html>
