<html>
<body>
	<h1>Login</h1>
	<p>Use the following ID</p>
	<ol>
		<li>demo (no need password)</li>
		<li>student (no need password)</li>
	</ol>
	<hr>
	<form action="/login" method="post">
		Username: <input type="text" name="acc" required><br>
		Password: <input type="password" name="pwd"><br>
		<input type="submit" value="Login">
	</form>
</body>

</html>
