<html>
<body>
	<h1>Login</h1>
	<form action="/login" method="post">
		Username: <input type="text" name="acc" required><br>
		Password: <input type="password" name="pwd" required><br>
		<a href="/register">Register</a>	<input type="submit" value="Login">
	</form>
</body>

</html>
