<html>
	<title>Rate </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<body>
	<div class="w3-container w3-teal">
	  <h2>Rate </h2>
	</div>
	<p>
	<form class="w3-container" action="/rate" method="post" encType="multipart/form-data">
	  <input type="hidden" name="restid" value='<%=c._id%>'/>
	  <label>Score (1-10):</label>
	  <input class="w3-input" type="number" name="score" min='0' max='10'/>
	 <p><button class="w3-btn">Rate</button>
	</form>
	</body>
	</html>