<html>
	<head>
		<title>Register Page</title>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
	function check_pass() {
    if (document.getElementById('pw').value ==
            document.getElementById('pw2').value) {
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('submit').disabled = true;
    }
}
</script>
	<body>
	<h1>Register</h1>
	<form action="/register" method="post">
		Username: <input type="text" name="acc" id='ac' required><br>
		Password: <input type="password" name="pwd" id='pw'required onchange='check_pass();'><br>
		<input type="submit" value="Register" id="submit" disabled>
	</form>
	Confirm Password: <input type="password" name="pw2" id='pw2' required onchange='check_pass();'><br>
</body>

</html>
